
/node_modules
/*.log

# local config:
/acl.yaml
/collections.yaml
/profile.sh
/users.yaml

# potential local diversions:
/anno-common

# Stuff on other branches not ready for public repo yet:
/dbscripts

# unsorted:
