
/node_modules
/*.log

# local config:
/acl.json
/collections.json
/users.json
/users.yml
/profile.sh

# potential local diversions:
/anno-common

# Stuff on other branches not ready for public repo yet:
/dbscripts

# unsorted:
